.DS_Store
opensearch/present.pdf_files/
opensearch/present.pdf
monthly_ops/present.pdf
monthly_ops/Adopting Monthly Operational Review Meetings as a Learning Exercise, Oct 29, Brady.pdf
opensearch/present2.pdf
present.pdf
