.reveal pre code {
  max-height: 500px;;
}

.pause-overlay {
  background-image: url('../images/qrcode_merritt.uc3dev.cdlib.org.png') !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
}

pre.code-wrapper {
  width: 120%;
  margin-left: -10%;
}

iframe {
  min-height: 600px;
  width: 100%;
}